@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap');

body, html{
  background: linear-gradient(to right, rgb(0, 200, 255) , rgb(125, 235, 85));
  font-family: 'roboto slab', serif;
}

.container{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(0, 200, 255) , rgb(125, 235, 85));
  padding: 1%;
}

.top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 20%;
  background-color: transparent;
  margin-bottom: 50px;
}

.logo{
    margin-right: 0;
}
  
.logo img {
    height: 100px;
    margin-right: 20px;
}
  
.titl{
    margin: 0;
}
  
h1{
      color: black;
      font-size: 40px;
      font-family: 'Roboto Slab', serif;
      margin: 0;
}

.bottom{
  display: flex;
  width: 100%;
}

.btn-group{
  width: 200px;
}

.btn-group button {
  background-color: #ffffff; /* Green background */
  border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  margin: 3px;
  cursor: pointer; /* Pointer/hand icon */
  font-size: 20px;
  border-radius: 20px;
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #b9bab9;
}

.createPost{
    width: 50%;
    margin-left: 100px;
    padding: 30px;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 20px;
}

textarea {
    resize: none;
    height: 100px;
    border-radius: 15px;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'roboto slab', serif;
} 

.createPost .new input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  width: 100px;
  height: 45px;
  font-size: 20px;
  font-family: 'roboto slab', serif;
}

h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'roboto slab', serif;
    color: black;
}

.createPost .new input[type="submit"]:hover,
.createPost .new input[type="button"]:hover {
  background-color: #2980b9;
}

.custom-file-upload {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #0069d9;
  }
  
  .custom-file-upload:active {
    background-color: #005cbf;
  }
  