@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap');

body, html{
  background: linear-gradient(to right, rgb(0, 200, 255) , rgb(125, 235, 85));
}

.container{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(0, 200, 255) , rgb(125, 235, 85));
  padding: 1%;
}

.top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 20%;
  background-color: transparent;
  margin-bottom: 50px;
}

.logo{
  margin-right: 0;
}

.logo img {
  height: 100px;
  margin-right: 20px;
}

.titl{
  margin: 0;
}

h1{
    color: black;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.bottom{
  display: flex;
  width: 100%;
}

.btn-group{
  width: 200px;
}

.btn-group button {
  background-color: #ffffff; /* Green background */
  border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  margin: 3px;
  cursor: pointer; /* Pointer/hand icon */
  font-size: 20px;
  border-radius: 20px;
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #b9bab9;
}

.postts{
  height: fit-content;
  margin-left: 150px;
  margin-right: 50px;
  background-color: rgb(250, 250, 155);
  border-radius: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

.nameDate{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.pp {
  height: 30px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
}

.pp img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pic{
  width: 90%;
  overflow: hidden;
}

.pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.likeDislike{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.likeDislike > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 30px;
}

.likeDislike > div > img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
}

.content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}