@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap');

*{
  font-family: 'roboto slab', serif;
}

body, html{
  background: linear-gradient(to right, rgb(0, 200, 255) , rgb(125, 235, 85));
}

.container{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(0, 200, 255) , rgb(125, 235, 85));
  padding: 1%;
}

.top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 20%;
  background-color: transparent;
  margin-bottom: 50px;
}

.logo{
  margin-right: 0;
}

.logo img {
  height: 100px;
  margin-right: 20px;
}

.titl{
  margin: 0;
}

h1{
    color: black;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.bottom{
  display: flex;
  width: 100%;
}

.btn-group{
  width: 200px;
}

.btn-group button {
  background-color: #ffffff; /* Green background */
  border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  margin: 3px;
  cursor: pointer; /* Pointer/hand icon */
  font-size: 20px;
  border-radius: 20px;
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #b9bab9;
}

.poss {
  max-height: 75vh; /* set the maximum height of the div */
  overflow-y: auto; /* add vertical scroll bar */
  /* background-color: blue; */
  width: 50%;
  margin-left: 150px;
}

.postts{
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgba(250, 235, 215, 0.4);
  border-radius: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 19px;
}

.nameDate{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}

.dateTime{
  margin-right: 0;
}

.name{
  margin-left: 10px;
  margin-right: 230px;
  width: 100px;
}

.pp {
  margin-left: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.pp img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none; /* hide the image if the background image is shown */
}

.pic{
  width: 90%;
  overflow: hidden;
}

.pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.likeDislike{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  width: 100%;
  background-color: transparent;
}

.likeDislike > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 30px;
  background-color: transparent;
  flex-basis: 30%;
}

.likeDislike > div > img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 20px;
  margin-right: 10px;
}

h2{
  font-size: 15px;
  margin: 0;
}

h3{
  font-size: 10px;
  margin: 0;
}

h4{
  font-size: 16px;
  margin: 0;
}

.comments a {
  width: 20px;
  margin-right: 20px;
}

.apipart{
  width:20%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  height: fit-content;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid black;
}

.apipart blockquote {
  font-style: italic;
  color: #777;
}

.apipart h3 {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: bold;
}

.apipart p.advice {
  font-size: 20px;
  margin-bottom: 10px;
}

.apipart .btn {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apipart .btn:hover {
  background-color: #2980b9;
}

.apipart .loading {
  font-size: 16px;
  margin-top: 10px;
  color: #777;
}
