@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

body, html{
    height: 100%;
}
body{
  background-image: url("/static/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.msg{
    margin-bottom: 20px;
}

h1{
    font-size: 60px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.button{
    width: 200px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
