<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>comments_page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='addComments.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="top">
                <div class="logo">
                    <img src="{{ url_for('static', filename='logo.png') }} " alt="logo">
                </div>
                <div class="titl">
                    <h1>Tesseract</h1>
                </div>
            </div>
            <div class="bottom">
                <div class="btn-group">
                    
                    <button><a style="text-decoration: none" href="{{ url_for('timeline', user_id = user['user_id']) }}"><span>Timeline</span></a></button>
                    <button><a style="text-decoration: none" href="{{ url_for('profile', user_id = user['user_id']) }}"><span>Profile</span></a></button>
                    <button><a style="text-decoration: none" href="{{ url_for('login') }}"><span>Logout</span></a></button>
                </div>
                <div class="postComment">
                    <div class="heading"><h2>Create a New Comment !!!</h2></div>
                        <div class="new">
                            <form method="post" enctype="multipart/form-data" id="myForm">
                                <div class="form-group">
                                    <label for="content"></label>
                                    <textarea name="content" class="form-control" placeholder="Add Comment"></textarea>
                                </div>
                                <div class="buttons">
                                    <input type="submit" name="submit_button" value="Publish">
                                    <input type="submit" name="submit_button" value="Discard" onclick="document.getElementById('myForm').reset();">
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>