<!-- {% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    {% for post in users %}
        <a href="#">
            <h2>{{ post['username'] }}</h2>
        </a>
        <span>{{ post['pass_word'] }}</span>
        <span>{{ post['bio'] }}</span>
        <hr>
    {% endfor %}
{% endblock %} -->

<!DOCTYPE html>
<html>
<head>
    <title>Users List</title>
</head>
<body>
    {% for user in posts %}
        <h3>{{ user[1] }}</h3>
        <span>{{ user[2] }}</span>
        <span>{{ user[0] }}</span>
        <p>{{ user[3] }}</p>
    {% endfor %}
</body>
</html>
