<!-- {% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    {% for post in users %}
        <a href="#">
            <h2>{{ post['username'] }}</h2>
        </a>
        <span>{{ post['pass_word'] }}</span>
        <span>{{ post['bio'] }}</span>
        <hr>
    {% endfor %}
{% endblock %} -->

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to FlaskBlog</title>
</head>
<body>
    {% for post in posts %}
        <h3>{{ post[1] }}</h3>
        <span>{{ post[2] }}</span>
    {% endfor %}
</body>
</html>
