<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pop.css') }}">
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('popular') }}">Popular</a></li>
            <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
        </ul>
    </body>
</html>