<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}"> 
    <title>{{ user[1] }}'s Profile</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }} " alt="logo">
            </div>
            <div class="titl">
                <h1>Tesseract</h1>
            </div>
        </div>
        <div class="bottom">
            <div class="btn-group">
                <button><a style="text-decoration: none" href="{{ url_for('timeline', user_id = user['user_id']) }}"><span>Timeline</span></a></button>
                <button><a style="text-decoration: none" href="{{ url_for('profile', user_id = user['user_id']) }}"><span>Profile</span></a></button>
                <button><a style="text-decoration: none" href="{{ url_for('login') }}"><span>Logout</span></a></button>
            </div>
            <div class="prof">
                <div class="profTop">
                    <div class="imgName">
                        <div class="circular-image" style="background-image: url('{{ url_for('static', filename='unk.jpg') }}');">
                                <img src="{{ url_for('static', filename=user[4]) }}" alt="{{ user[1] }} profile pic">
                            </div>
                        <a href="{{ url_for('edit_profile', user_id=user[0]) }}">
                        <div class="name">
                            <p>{{ user[1] }}</p>
                        </div>
                        </a>
                    </div>
                    <div class="bio">
                        <p>{{ user[3] }}</p>
                    </div>
                </div>
                <div class="profBottom">
                    <button>
                        <h4>{{ post_count }}</h4>
                        <a style="text-decoration: none" href="{{ url_for('profileposts', user_id = user['user_id']) }}"><h4>Posts</h4></a>
                    </button>
                </div>
                <hr>
                <div class="butto">
                    <button><a style="text-decoration: none" href="{{ url_for('create', user_id = user['user_id']) }}"><span>Create New Post</span></a></button>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>
