<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginSignup.css') }}">
</head>
<body>
    <div class="container">
        <div class="appname"><h1>Tesseract</h1></div>
        <div class="log">
            <div class="image">
                <img src="{{ url_for('static', filename='logo.png') }}">
            </div>
            <div class="formm">
                <h2>Signup</h2>
	            <form action="{{ url_for('register') }}" method="POST">
		            <input type="text" name="username" required placeholder="username" value="{{ request.form['username'] }}" class="input-field"></input>
		            <input type="password" name="pass_word" required placeholder="password" value="{{ request.form['pass_Word'] }}" class="input-field"></input>
		            <input type="submit" value="Sign up" class="submit-btn">
                    <div class="writing">
                        <h4>Already have an account? <a href="{{ url_for('login') }}">Login!</a></h4>
                    </div>
	            </form>
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
